In [1]:
import pandas as pd
import sqlite3
import os
pd.set_option('display.width', 500)

In [ ]:
# url_df = pd.read_sql_query(
#     "WITH urls AS (SELECT 'http://inaturalist-open-data.s3.amazonaws.com/photos/' AS photo_url) "
#     "SELECT B.*, U.photo_url || A.photo_id || '/' || 'large.' || A.extension AS photo_url_large, D.name AS taxon_name, D.ancestry, D.taxon_id, A.photo_id, A.photo_uuid, A.extension "
#     "FROM urls U "
#     "CROSS JOIN photos A "
#     "JOIN observers B "
#     "ON A.observer_id = B.observer_id "
#     "JOIN observations C "
#     "ON A.observation_uuid = C.observation_uuid "
#     "LEFT JOIN taxa D "
#     "ON C.taxon_id = D.taxon_id "
#     "WHERE D.ancestry LIKE '"+args.ancestry_string+"' "
#     "AND D.rank = 'species' "
#     "AND C.quality_grade = 'research' ",
#     #con = 'sqlite:///../db/inaturalist-open-data-20220127.sq3db'
#     con = "sqlite:///../db/"+args.input_db
# )

In [ ]:
test_df2 = pd.read_sql_query(
    """
    SELECT * 
    FROM photos A
    JOIN observations B
    ON A.observation_uuid = B.observation_uuid
    JOIN taxa C
    ON B.taxon_id = C.taxon_id
    """,
    con = 'sqlite:///../db/inaturalist-open-data-20220127.sq3db'
)

print(test_df2)

In [23]:
test_df = pd.read_sql_query(
    """
    SELECT *  
    FROM observations B 
    JOIN taxa A 
    ON B.taxon_id = A.taxon_id
    JOIN photos C
    ON B.observation_uuid = C.observation_uuid
    JOIN observers B 
    ON A.observer_id = B.observer_id 

    WHERE A.ancestry LIKE '48460/1/47120/372739/47158/%' 
    AND A.rank = 'species' 
    AND B.quality_grade = 'research' 
    """,
    con = 'sqlite:///../db/inaturalist-open-data-20220127.sq3db'
)

print(test_df)

          taxon_id                                           ancestry  rank_level     rank                   name active quality_grade   photo_id
0            84549  48460/1/47120/372739/47158/184884/47792/47927/...        10.0  species        Plathemis lydia   true      research      36164
1            84549  48460/1/47120/372739/47158/184884/47792/47927/...        10.0  species        Plathemis lydia   true      research      36165
2            84549  48460/1/47120/372739/47158/184884/47792/47927/...        10.0  species        Plathemis lydia   true      research      36166
3            81881  48460/1/47120/372739/47158/184884/47744/125816...        10.0  species  Amphipsalta zelandica   true      research      36488
4            52619  48460/1/47120/372739/47158/184884/47208/340471...        10.0  species  Cicindela hirticollis   true      research      36574
...            ...                                                ...         ...      ...                    ...    ...           ...        ...
13271067    566452  48460/1/47120/372739/47158/184884/47157/49682/...        10.0  species  Nacoleia amphicedalis   true      research  177326668
13271068    202814  48460/1/47120/372739/47158/184884/47157/47607/...        10.0  species      Targalla delatrix   true      research  177327047
13271069    323553  48460/1/47120/372739/47158/184884/47792/47927/...        10.0  species         Anax papuensis   true      research  177327408
13271070    518098  48460/1/47120/372739/47158/184884/47157/47224/...        10.0  species      Graphium choredon   true      research  177327877
13271071    518098  48460/1/47120/372739/47158/184884/47157/47224/...        10.0  species      Graphium choredon   true      research  177327876

[13271072 rows x 8 columns]

In [32]:
print(len(test_df.name.unique()))
#print(len(test_df.query('active == "true"')))

98337

In [22]:
test_df = pd.read_sql_query(
    """
    SELECT * 
    FROM taxa A
    WHERE A.ancestry LIKE '48460/1/47120/372739/47158/%' 
    AND A.rank = 'species' 
    AND A.active = 'true' 
    """,
    con = 'sqlite:///../db/inaturalist-open-data-20220127.sq3db'
)

print(test_df)

        taxon_id                                           ancestry  rank_level     rank                   name active
0          56807  48460/1/47120/372739/47158/184884/47201/124417...        10.0  species       Crabro peltarius   true
1          52879  48460/1/47120/372739/47158/184884/47208/71130/...        10.0  species        Halyzia hauseri   true
2          52095  48460/1/47120/372739/47158/184884/47157/47607/...        10.0  species        Gonitis privata   true
3          59960  48460/1/47120/372739/47158/184884/47744/334037...        10.0  species     Pulvinaria regalis   true
4          59475  48460/1/47120/372739/47158/184884/47208/71130/...        10.0  species    Diplotaxis academia   true
...          ...                                                ...         ...      ...                    ...    ...
385266   1349602  48460/1/47120/372739/47158/184884/47208/71130/...        10.0  species  Sphaerometopa diversa   true
385267   1349603  48460/1/47120/372739/47158/184884/47157/49531/...        10.0  species     Idaea rubridentata   true
385268   1349604  48460/1/47120/372739/47158/184884/47201/124417...        10.0  species    Camponotus augustei   true
385269   1349605  48460/1/47120/372739/47158/184884/47157/47156/...        10.0  species  Omiostola longimacula   true
385270   1349608  48460/1/47120/372739/47158/184884/47822/154259...        10.0  species  Hesperinus brevifrons   true

[385271 rows x 6 columns]

In [38]:
test_df = pd.read_sql_query(
    """
    SELECT DISTINCT license
    FROM photos
    LIMIT 100
    """,
    con = 'sqlite:///../db/inaturalist-open-data-20220127.sq3db'
)

print(test_df)

       license
0        CC-BY
1     CC-BY-NC
2  CC-BY-NC-ND
3  CC-BY-NC-SA
4     CC-BY-ND
5     CC-BY-SA
6          CC0
7           PD
8      license

In [2]:
url_df = pd.read_csv("../csvs/insectURL.csv")

In [3]:
print(url_df)

          observer_id     login            name                                    photo_url_large              taxon_name                                           ancestry  taxon_id   photo_id                            photo_uuid extension
0                1000      muir       Matt Muir  http://inaturalist-open-data.s3.amazonaws.com/...         Plathemis lydia  48460/1/47120/372739/47158/184884/47792/47927/...     84549      36164  f5375570-86a9-4b5a-adf2-8afe95b1b962       jpg
1                1000      muir       Matt Muir  http://inaturalist-open-data.s3.amazonaws.com/...         Plathemis lydia  48460/1/47120/372739/47158/184884/47792/47927/...     84549      36165  56d1aa2e-6a46-421d-96b9-b37b5290b285       jpg
2                1000      muir       Matt Muir  http://inaturalist-open-data.s3.amazonaws.com/...         Plathemis lydia  48460/1/47120/372739/47158/184884/47792/47927/...     84549      36166  882f9ed3-c019-4263-a9f7-860ea80aba2a       jpg
3                1506  pierre_t  Pierre Tellier  http://inaturalist-open-data.s3.amazonaws.com/...   Amphipsalta zelandica  48460/1/47120/372739/47158/184884/47744/125816...     81881      36488  75f44feb-2e57-4b17-aac6-ea0b733985a5       JPG
4                   1     kueda   Ken-ichi Ueda  http://inaturalist-open-data.s3.amazonaws.com/...   Cicindela hirticollis  48460/1/47120/372739/47158/184884/47208/340471...     52619      36574  80f686e8-c66a-4bfe-8b4e-26d58d2ee5e2       jpg
...               ...       ...             ...                                                ...                     ...                                                ...       ...        ...                                   ...       ...
11516306        70843   njemery    Nathan Emery  http://inaturalist-open-data.s3.amazonaws.com/...  Burbunga queenslandica  48460/1/47120/372739/47158/184884/47744/125816...    208185  177327030  20d8e728-32f2-4e25-abbb-3fdf55b32716      jpeg
11516307      1548915    larney             NaN  http://inaturalist-open-data.s3.amazonaws.com/...   Nacoleia amphicedalis  48460/1/47120/372739/47158/184884/47157/49682/...    566452  177326668  ef4b0973-00f4-42d3-8133-36df55899f0f      jpeg
11516308      1548915    larney             NaN  http://inaturalist-open-data.s3.amazonaws.com/...       Targalla delatrix  48460/1/47120/372739/47158/184884/47157/47607/...    202814  177327047  b9a2f111-4c0e-4d13-950f-6c9f54d835ac      jpeg
11516309      3643589  cressgil             NaN  http://inaturalist-open-data.s3.amazonaws.com/...       Graphium choredon  48460/1/47120/372739/47158/184884/47157/47224/...    518098  177327877  9df92560-86d9-4236-bda0-c299ff6449ec       jpg
11516310      3643589  cressgil             NaN  http://inaturalist-open-data.s3.amazonaws.com/...       Graphium choredon  48460/1/47120/372739/47158/184884/47157/47224/...    518098  177327876  fe7eec4f-32b4-4fdf-a3fb-a0a69b1d6162       jpg

[11516311 rows x 10 columns]

In [7]:
test = url_df.taxon_id.unique()
print(len(test))

95399

In [6]:
test = url_df.groupby("taxon_name").first()
print((test))

                           observer_id                  login                            name                                    photo_url_large                                           ancestry  taxon_id   photo_id                            photo_uuid extension
taxon_name
Aaaba nodosus                  2631981              markayers                      Mark Ayers  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47208/71130/...   1180363  110102811  d7d58667-c585-4220-ac37-7af564aa644b       jpg
Aacanthocnema dobsoni          2452492             taphanyx03                            None  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47744/334037...    498461  141425363  edbb7154-25d2-4bf5-88b9-58ff84a0e223      jpeg
Aades bifoveifrons             1420010        lroganentsocvic           Linda Rogan EntSocVic  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47208/71130/...    991822   39550086  462b7882-d2a1-4d45-a2e4-67815372f651      jpeg
Aades cultratus                 222137                 reiner                  Reiner Richter  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47208/71130/...    705165   28381798  b846620f-b262-49f9-b0ab-74362d191df5      jpeg
Aades griseatus                 473623               dustaway            Nicholas John Fisher  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47208/71130/...    546608   18346102  7b0e253f-6a74-42af-a7cf-52be458ca395       jpg
...                                ...                    ...                             ...                                                ...                                                ...       ...        ...                                   ...       ...
Zyxomma obtusum                  29409  eccentric_entomophile                 Benjamin Maples  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47792/47927/...    358597    2422129  9d931063-9b3e-4f4c-b7bc-47cbbb354cec       jpg
Zyxomma petiolatum                8853            ivijayanand  Dr. Vijay Anand Ismavel MS MCh  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47792/47927/...    115308     273275  be5116a1-dd21-42d8-9cb4-46d408320ffa       jpg
Zyzzogeton quadrimaculata      2709970                ramon_d                            None  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47744/125816...   1293958   94372053  eb151ea2-9a8c-408c-aba3-fbd6ef9a9d49      jpeg
Zyzzogeton viridipennis        1453877              wouter_oe                            None  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47744/125816...    857604   30976924  75fae26c-c11f-45d9-9c83-c39b80a9ea53       jpg
Zyzzyx chilensis               2479418              mgargiulo                         MatiasG  http://inaturalist-open-data.s3.amazonaws.com/...  48460/1/47120/372739/47158/184884/47201/124417...    627317   63017446  b304cc29-4809-46e0-a2ba-aebb87ca6ef2       jpg

[95399 rows x 9 columns]

In [6]:
url_df.query('taxon_id == 125063')

Empty DataFrame
Columns: [observer_id, login, name, photo_url_large, taxon_name, ancestry, taxon_id, photo_id, photo_uuid, extension]
Index: []

In [22]:
taxa_df = pd.read_sql_query(
    "SELECT * "
    "FROM taxa "
    "WHERE taxon_id == '124620' "
    "LIMIT 10 ",
    con = 'sqlite:///../db/inaturalist-open-data-20220127.sq3db'
)
print(taxa_df)

   taxon_id                                           ancestry  rank_level   rank     name active
0    124620  48460/1/47120/372739/47158/184884/47157/47156/...        20.0  genus  Acleris   true

In [21]:
test_df = pd.read_sql_query(
    "SELECT * "
    "FROM subset "
    "WHERE taxon_id == '124620' ",
    #"LIMIT 10 ",
    con = 'sqlite:///../db/idx_inaturalist_subset.sq3db'
)
print(test_df)

Empty DataFrame
Columns: [index, observer_id, login, name, photo_url_large, taxon_name, ancestry, taxon_id, photo_id, photo_uuid, extension]
Index: []

In [31]:
output_folder = f"{taxa_df.loc[0,'ancestry']}/{taxa_df.loc[0, 'taxon_id']}"
print(output_folder)
parent_dir = df.loc[0,'ancestry'].split('/')[0]
tar.add(os.path.abspath(output_folder), arcname=df.loc[0,'ancestry'])
shutil.rmtree(f'{args.data_dir}/{parent_dir}')

48460/1/47120/372739/47158/184884/47157/47156/47155/124615/199539/124620

In [34]:
parent_dir = taxa_df.loc[0,'ancestry'].split('/')[0]
print(parent_dir)

48460