In [ ]:
import pandas as pd
import sqlite3
import os
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [11]:
df1 = pd.read_csv('../csvs/Phascolarctos.csv')
print(df1)

      observer_id                      login         name                                    photo_url_large              taxon_name                                           ancestry  taxon_id     rank   photo_id                            photo_uuid extension
0             516                        msr          NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species      20812  f3571de5-f228-43ac-b413-af302409626a       jpg
1             516                        msr          NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species      20813  0711ef35-3bde-4016-9013-deed314713a4       jpg
2            2991               sea-kangaroo          NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species     137876  0c9cef74-263d-41e4-8070-e78904ffcff5       JPG
3            2991               sea-kangaroo          NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species     137879  0ca2872b-f5c3-4fe4-89d4-bf6195cbd0c9       JPG
4           15795                     scotty  Scott Mills  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species     489583  164d10fd-5d31-46a0-858a-0996db8d803d       jpg
...           ...                        ...          ...                                                ...                     ...                                                ...       ...      ...        ...                                   ...       ...
6073      1809954                 gregtasney  Greg Tasney  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  148710231  3da50e1d-3a0b-4d4e-bb1c-946fbbf20734      jpeg
6074      1809954                 gregtasney  Greg Tasney  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  148710247  cfb1dbd9-5e4c-463b-9873-6c54e751cdbf      jpeg
6075      3459654                      phiro      Philipp  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  148820672  4c7471ac-ac2c-41a7-b024-24195f7bd832       jpg
6076      4829373                  abbiejane          NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  148873572  d9d32d13-5634-4c55-b77e-aae758974e8e      jpeg
6077      2458110  urliup-wildlife-sanctuary        Sandy  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  149094569  97f4ef54-1db4-447c-ae9d-d4081ddc8423      jpeg

[6078 rows x 11 columns]

In [12]:
df2 = pd.read_csv('../csvs/Phascolarctos_update.csv')
print(df2)

      observer_id                      login          name                                    photo_url_large              taxon_name                                           ancestry  taxon_id     rank   photo_id                            photo_uuid extension
0             516                        msr           NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species      20812  f3571de5-f228-43ac-b413-af302409626a       jpg
1             516                        msr           NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species      20813  0711ef35-3bde-4016-9013-deed314713a4       jpg
2            2991               sea-kangaroo           NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species     137876  0c9cef74-263d-41e4-8070-e78904ffcff5       JPG
3            2991               sea-kangaroo           NaN  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species     137879  0ca2872b-f5c3-4fe4-89d4-bf6195cbd0c9       JPG
4           15795                     scotty   Scott Mills  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species     489583  164d10fd-5d31-46a0-858a-0996db8d803d       jpg
...           ...                        ...           ...                                                ...                     ...                                                ...       ...      ...        ...                                   ...       ...
9665       108966                 nyoni-pete  Pete Woodall  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  209503279  f194ceb2-481b-4169-8072-aaff957f104b      jpeg
9666       108966                 nyoni-pete  Pete Woodall  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  209503546  87ebd22b-84a6-4cab-b9c8-02f7ac5d3dfe      jpeg
9667       108966                 nyoni-pete  Pete Woodall  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  209505156  ca7649a9-1315-4c29-9ba9-c60e156398f0      jpeg
9668       108966                 nyoni-pete  Pete Woodall  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  209505144  ae012bb5-c69a-420e-a503-81f05b13b2b5      jpeg
9669      2458110  urliup-wildlife-sanctuary         Sandy  http://inaturalist-open-data.s3.amazonaws.com/...  Phascolarctos cinereus  48460/1/2/355675/40151/848317/848319/42711/429...     42983  species  209510038  dc3e8979-ad29-43e2-b6fa-e9234bb68bed      jpeg

[9670 rows x 11 columns]

In [ ]:
#old_csv.compare(new_csv, align_axis='columns')
# idx = new.index.intersection(old_csv.index)
# print(idx)
# print(new_csv.ix[idx])

In [ ]:
df_all = df2.merge(df1.drop_duplicates(), on=['photo_id'], 
                   how='left', indicator=True)
#print(df_all)
df_all['_merge'] == 'left_only'
print(df_all['_merge'])

In [ ]:
df_all[df_all['_merge'] == 'left_only']

# Input is two csvs
# url_df to sql db
# make species csvs folders from db
# all species image download of 
# option to have seperate tar file
# option to extract both tars, merge by putting the images in the correct place, then retar
    maybe no need to untar? just add?